.fixedWidgets {
    position: fixed;
    right: 32px;
    bottom: 102px;
    z-index: 2147483640;
    display: flex;
    cursor: pointer;
    background: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px grey
}